
/* header + nav */
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border:solid 1px;
  border-radius: 10px;
  background-color: white;
}
.logo { margin: 0; font-size: 20px; }
.nav { list-style: none; display: flex; gap: 16px; margin: 0; padding: 0; }
.nav a { text-decoration: none; color: #333; }

#welome{background-color: rgb(255, 250, 251); border-radius: 10px; padding:10px}
/* hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 16px;
}
.hero img { max-width: 100%; height: auto; display: block; }
#downbutton{text-align: center;  }
button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
    background-color: rgb(255, 20, 40);
    color: white;
}

#addScoreForm{ 
    border-radius: 15px;
    display: inline-block;
    margin:20px;
    padding:100px 100px;
    min-height: 150px;
    background-color: rgb(39, 38, 38);
    height: 100px;
    color: white;
    font-size: x-large;
    border: solid 1px;

}
#addScoreButton{
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
#addScoreButton:hover{
    background-color: rgb(255, 145, 0);
    color: white;
}

body{
  background-color: rgb(80, 71, 59);
}

.add-score-section{
  text-align: center;
  margin-top: 20px;

}

.board-wrap{
  border: solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 1rem;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th, td{
  border: solid 1px;
  padding: 20px;
  text-align: left;
}
th{
  background-color: rgb(255, 145, 0);
  color: white;
}

a{
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
}
a:hover{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  border:solid 1px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(255, 145, 0);
}